<div class="container">
    <mat-card class="mt-4 img">
        <div class="row">
            <div class="col-md-8 offset-md-4">
                <mat-card-header>
                    <mat-card-title>
                        Welcome to Exam Portal!
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <img src="../../../assets/homePage.jpeg">
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>